*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --axecon-color-1: #002c3f;
  --axecon-color-2: #003349;
  --axecon-color-3: #801bd0;
  --axecon-color-4: #34dcf6;
  --axecon-color-5: #b26fa8;
  --axecon-color-6: #8bc27c;
  --axecon-color-7: #528691;
  --axecon-color-8: #6b9ac1;
}

body {
  background-color: var(--axecon-color-1);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(1em, 4cqi, 2em);
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  height: 100dvh;
  margin: 0;
  overflow: auto;
}

main {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

.container {
  margin: auto;
}

h1 {
  font-size: 2.5em;
  font-weight: 600;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.2;
  margin: 0;
  overflow-wrap: anywhere;
  text-wrap: balance;
}

h1 a {
  color: inherit;
  line-height: inherit;
  text-underline-offset: 0.075em;
  text-decoration-thickness: 0.05em;
}

p {
  font-size: 1.25em;
  line-height: 1.4;
  margin: 1.5em 0 0;
  text-wrap: balance;
}

footer {
  flex: none;
  padding: 1em;
  text-align: center;
}

footer a {
  display: inline-block;
  font-size: 1em;
  height: auto;
  width: min(100%, 9em);
}

footer a img {
  display: block;
  height: auto; 
  width: 100%;
}
