*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --axecon-color-1: #002c3f;
  --axecon-color-2: #003349;
  --axecon-color-3: #801bd0;
  --axecon-color-4: #34dcf6;
  --axecon-color-5: #b26fa8;
  --axecon-color-6: #8bc27c;
  --axecon-color-7: #528691;
  --axecon-color-8: #6b9ac1;
}

body {
  background-color: var(--axecon-color-1);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
}
