body {
  background-color: var(--axecon-color-2);
}

/******************************************
 *            HEADER STYLES               *
 ******************************************/

header {
  background-color: var(--axecon-color-2);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media only screen and (min-width: 300px) {
  header {
    column-gap: 0.5em;
    display: grid;
    grid-template-areas: "heading heading" "timer toolbar";
    grid-template-columns: auto 1fr;
    row-gap: 1em;
  }
}

@media only screen and (min-width: 700px) {
  header {
    align-items: baseline;
    grid-template-areas: "heading timer toolbar";
    grid-template-columns: 1fr 1fr auto;
  }
}

h1 {
  font-weight: 600;
  grid-area: heading;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.3;
  overflow-wrap: anywhere;
  text-wrap: balance;
}

h1, 
[role="timer"] {
  font-size: clamp(1.75em, 3cqi, 2.5em);
}

header button {
  align-items: center;
  background-color: #000;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  flex: none;
  height: 42px;
  justify-content: center;
  outline: 1px solid transparent;
  width: 42px;
}

header button:focus {
  outline: 3px solid #0dbaf7;
}
 
header button svg {
  fill: currentColor;
  height: 1.5em;
  width: 1.5em;
}

header button[aria-checked="true"] .button__icon--on, 
header button[aria-checked="false"] .button__icon--off {
  display: none;
}

/* ---------------------------------------- */
/* Timer */
/* ---------------------------------------- */

section:has([role="timer"]) {
  align-items: center;
  display: flex;
  gap: 0.5em;
  grid-area: timer;
}

header:has(#time-limit-toggle[aria-checked='false']) #timer, 
header:has(#time-limit-toggle[aria-checked='false']) #timer-music-toggle {
  display: none;
}

[role="timer"] {
  font-variant-numeric: tabular-nums;
  line-height: 1;
}

[role="timer"]:focus-visible {
  outline: 3px solid magenta;
}

/* ---------------------------------------- */
/* Toolbar */
/* ---------------------------------------- */

section:has([role="toolbar"]) {
  grid-area: toolbar;
}

@media only screen and (min-width: 700px) {
  section:has([role="toolbar"]) {
    justify-self: end;
  }
}

[role="toolbar"] {
  align-items: center;
  display: flex;
  gap: 0.5em;
}

/******************************************
 *              MAIN STYLES               *
 ******************************************/

#stage {
  --stage-spacing: clamp(1em, 2cqi, 2em);

  background: linear-gradient(180deg, var(--axecon-color-3) -6.43%, var(--axecon-color-4) 100%);
  container: stage / inline-size;
  padding: var(--stage-spacing);
}

.grid {
  display: grid;
  gap: var(--stage-spacing);
  min-height: 75dvh;
}

@media only screen and (min-width: 500px) {
  .grid:has(> *:nth-child(6):last-child) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .grid:has(> *:nth-child(3):last-child) {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid:has(> *:nth-child(4):last-child) {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid:has(> *:nth-child(6):last-child) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  min-height: 33vh;
}

figcaption {
  background-color: var(--axecon-color-2);
  color: #fff;
  flex: none;
  line-height: 1.3;
  padding: var(--stage-spacing);
  text-align: center;
}

figcaption h2 {
  font-weight: 400;
}

.figtray {
  background: var(--axecon-color-1);
  container: tray / inline-size;
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  padding: var(--stage-spacing);
}

.figtray > * {
  margin: auto;
}

/* ---------------------------------------- */
/* Game: Text Blocks */
/* ---------------------------------------- */

.game-text-block {
  padding: 2em;
  overflow-y: auto;
}

#sample-1 .game-text-block {
  background-color: var(--axecon-color-3);
  color: #fff;
}

#sample-2 .game-text-block {
  background-color: var(--axecon-color-4);
  color: #fff;
}

#sample-3 .game-text-block {
  background-color: var(--axecon-color-5);
  color: var(--axecon-color-0);
}

.game-text-block__title {
  font-size: 1.75em;
  font-weight: 300;
  hyphens: auto;
  overflow-wrap: anywhere;
  text-wrap: pretty;
}

.game-text-block__blurb {
  font-size: 1.125em;
  line-height: 1.5;
  margin-top: 1em;
  text-wrap: pretty;
}

.game-text-block__blurb + .game-text-block__blurb {
  margin-top: 1em;
}

/* ---------------------------------------- */
/* Game: Links */
/* ---------------------------------------- */

.game-link {
  cursor: pointer;
  text-decoration: none;
}

.game-link, 
.game-link:hover, 
.game-link:active, 
.game-link:visited {
  color: #fff;
}

.game-link:focus {
  outline: none;
}

.game-link.style--1 {
  background-color: var(--axecon-color-1);
  background-image: linear-gradient(90deg,#e466fa 5px, var(--axecon-color-1) 5px);
  background-position: -5px center;
  background-repeat: no-repeat;
  display: block;
  font-size: 20px;
  padding: 10px 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .game-link.style--1 {
    transition: background-position 250ms ease-in-out;
  }
}

.game-link.style--1:hover, 
.game-link.style--1:focus {
  background-position: 0 center;
}

.game-link.style--2 {
  color: #fff;
  font-size: 24px;
}

.game-link.style--2:hover, 
.game-link.style--2:focus {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

/* ---------------------------------------- */
/* Game: Icon Buttons */
/* ---------------------------------------- */

.game-icon-button {
  --default-button-size: 42px;

  align-items: center;
  background-color: var(--axecon-color-2);
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: var(--button-size, var(--default-button-size));
  justify-content: center;
  outline: 1px solid transparent;
  width: var(--button-size, var(--default-button-size));
}

.game-icon-button.small {
  --button-size: calc(var(--default-button-size) / 2);
}

.game-icon-button:hover {
  background-color: #fff;
  color: var(--axecon-color-2);
}

.game-icon-button:focus {
  outline: 3px solid #0dbaf7;
}

.game-icon-button svg {
  --button-icon-size: calc(var(--button-size, var(--default-button-size)) / 2);

  display: block;
  fill: currentColor;
  height: var(--button-icon-size);
  width: var(--button-icon-size);
}

.game-icon-button + [role="tooltip"] {
  --tooltip-background-color: var(--axecon-color-8);

  background-color: var(--tooltip-background-color);
  color: var(--axecon-color-2);
  display: none;
  left: 0;
  padding: 0.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: max-content;
}

.game-icon-button + [role="tooltip"] .arrow {
  background-color: var(--tooltip-background-color);
  height: 8px;
  position: absolute;
  transform: rotate(45deg);
  width: 8px;
}

/* ---------------------------------------- */
/* Game: Toggle Buttons */
/* ---------------------------------------- */

.game-filters {
  --filters-color-1: #022332;
  --filters-color-2: #333;

  background-color: #fff;
  font-size: 1rem;
  padding: 2em;
}

.game-filters__header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
}

.game-filters__date {
  color: var(--filters-color-2);
  font-size: 2em;
  font-weight: 300;
  hyphens: auto;
  overflow-wrap: anywhere;
  text-wrap: balance;
}

.game-filters button {
  background-color: #fff;
  border: 0.125em solid currentColor;
  box-shadow: rgba(108,218,242,0.5) 0.625em 0.625em 1.5625em;
  color: var(--filters-color-1);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.125em;
  line-height: 1.5;
  padding: 0.5em 1em;
  position: relative;
  white-space: nowrap;
}

.game-filters button:hover {
  background-color: var(--filters-color-2);
  border-color: var(--filters-color-2);
  color: #fff;
}

.game-filters button:hover::before,
.game-filters button:hover::after {
  position: absolute;
  content: "";
  display: block;
  top: 0.125em;
  bottom: 0.125em;
  width: 0.375em;
  border-top: 0.125em solid #fff;
  border-bottom: 0.125em solid #fff;
}

.game-filters button:hover::before {
  border-left: 0.125em solid #fff;
  left: 0.25em;
}

.game-filters button:hover::after {
  border-right: 0.125em solid #fff;
  right: 0.25em;
}

.game-filters button[aria-expanded="true"]:hover,
.game-filters:not(:has(.game-filters__body[hidden])) button:hover {
  background-color: var(--axecon-color-3);
  border-color: var(--axecon-color-3);
}

.game-filters button[aria-expanded="true"], 
.game-filters:not(:has(.game-filters__body[hidden])) button {
  background-color: var(--axecon-color-3);
  border-color: var(--axecon-color-3);
  color: #fff;
}

.game-filters button:is(:focus, :active), 
.game-filters button[aria-expanded="true"]:is(:focus, :active), 
.game-filters:not(:has(.game-filters__body[hidden])) button:is(:focus, :active) {
  background-color: #fff;
  color: var(--axecon-color-3);
  outline: 0.125em solid var(--axecon-color-3);
}

@media (prefers-reduced-motion: no-preference) {
  .game-filters button {
    transition: all ease-in-out 125ms;
  }
}

.game-filters__body {
  background-color: #f1f1f1;
  color: var(--filters-color-1);
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  margin-top: 2em;
  padding: 2em;
}

.game-filters__field {
  flex: 1 1 auto;
}

.game-filters label {
  display: inline-block;
  font-size: 1.5em;
}

.game-filters select {
  background-color: #fff;
  border: 0.125em solid var(--filters-color-1);
  color: var(--filters-color-1);
  font-family: inherit;
  font-size: 1.125em;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  width: 100%;
}

.game-filters select:hover, 
.game-filters select:focus {
  background-color: var(--axecon-color-2);
  color: #fff;
}

.game-filters select:focus {
  outline: none;
}

/******************************************
 *            FOOTER STYLES               *
 ******************************************/

/* footer[role="contentinfo"] {
  background: linear-gradient(180deg,var(--axecon-color-3) 5.34%,var(--axecon-color-2) 96.27%);
} */

footer[role="contentinfo"] a {
  color: #fff;
  text-decoration: none;
}

footer[role="contentinfo"] a:hover, 
footer[role="contentinfo"] a:focus {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

footer[role="contentinfo"] a:has(img) {
  display: inline-block;
  font-size: 1em;
  height: auto;
  width: min(100%, 9em);
}

footer[role="contentinfo"] a img {
  display: block;
  height: auto; 
  width: 100%;
}
