body {
  background-color: var(--axecon-color-4);
}

/******************************************
 *            HEADER STYLES               *
 ******************************************/

header {
  align-items: center;
  background-color: var(--axecon-color-2);
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  top: 0;
}

h1 {
  font-weight: 400;
}

h1, 
[role="timer"] {
  font-size: 2.5em;
}

header button {
  align-items: center;
  background-color: var(--axecon-color-6);
  border: none;
  border-radius: 50%;
  color: #000;
  display: inline-flex;
  height: 42px;
  justify-content: center;
  outline: 1px solid transparent;
  width: 42px;
}

header button:focus {
  outline: 3px solid magenta;
}
 
header button svg {
  fill: currentColor;
  height: 1.5em;
  width: 1.5em;
}

header button[aria-checked="true"] .button__icon--on, 
header button[aria-checked="false"] .button__icon--off {
  display: none;
}

/* ---------------------------------------- */
/* Timer */
/* ---------------------------------------- */

#timer {
  display: flex;
  gap: 0.5em;
}

header:has(#time-limit-toggle[aria-checked='false']) #timer, 
header:has(#time-limit-toggle[aria-checked='false']) #timer-music-toggle {
  display: none;
}

[role="timer"] {
  font-variant-numeric: tabular-nums;
  line-height: 1;
}

[role="timer"]:focus-visible {
  outline: 3px solid magenta;
}

/* ---------------------------------------- */
/* Toolbar */
/* ---------------------------------------- */

[role="toolbar"] {
  align-items: center;
  display: flex;
  gap: 0.5em;
}

/******************************************
 *              MAIN STYLES               *
 ******************************************/

main {
  background: linear-gradient(180deg,var(--axecon-color-3) 0,var(--axecon-color-4) 100%);
}

#stage {
  padding: 1em;
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
}


figure {
  display: flex;
  flex-direction: column;
  border: 3px solid #fff;
  margin: 0;
  min-height: 33vh;
}

figcaption {
  background-color: var(--axecon-color-2);
  color: #fff;
  flex: none;
  line-height: 1.1;
  padding: 2em;
  text-align: center;
}

.figtray {
  /* background: var(--axecon-color-1); */
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  padding: 1em;
}

.figtray > * {
  margin: auto;
}

figure a, 
figure [role="link"] {
  color: #fff;
  text-decoration: none;
}

figure a:hover, 
figure a:active, 
figure a:visited {
  color: #fff;
}

figure a:focus, 
figure [role="link"]:focus {
  outline: none;
}

figure a.style--1, 
figure [role="link"].style--1 {
  background-color: var(--axecon-color-1);
  background-image: linear-gradient(90deg,#e466fa 5px, var(--axecon-color-1) 5px);
  background-position: -5px center;
  background-repeat: no-repeat;
  display: block;
  font-size: 20px;
  padding: 10px 30px;
  /* width: 295px; */
}

@media (prefers-reduced-motion: no-preference) {
  figure a.style--1, 
  figure [role="link"].style--1 {
    transition: background-position 250ms ease-in-out;
  }
}

figure a.style--1:hover, 
figure [role="link"].style--1:hover, 
figure a.style--1:focus, 
figure [role="link"].style--1:focus {
  background-position: 0 center;
}

figure a.style--2, 
figure [role="link"].style--2 {
  color: #fff;
  font-size: 24px;
}

figure a.style--2:hover, 
figure [role="link"].style--2:hover, 
figure a.style--2:focus, 
figure [role="link"].style--2:focus  {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

figure button:has(svg:only-of-type) {
  align-items: center;
  background-color: var(--axecon-color-2);
  border: none;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  height: 42px;
  justify-content: center;
  outline: 1px solid transparent;
  width: 42px;
}

figure button:has(svg:only-of-type):hover {
  background-color: #fff;
  color: var(--axecon-color-2);
}

figure button:has(svg:only-of-type):focus {
  outline: 3px solid #0dbaf7;
}

figure button svg:only-of-type {
  display: block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

figure [role="tooltip"] {
  background-color: var(--axecon-color-1);
  display: none;
  left: 0;
  padding: 0.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: max-content;
}

figure [role="tooltip"] .arrow {
  background-color: var(--axecon-color-1);
  height: 8px;
  position: absolute;
  transform: rotate(45deg);
  width: 8px;
}