---
layout: "base.njk"
---

<main data-controller="game" data-game-index-value="0">
  <div class="topper">
    <div>
      <a href="">{{ site.name }}</a>
      <h1>{{ h1 }}</h1>
    </div>
    <section id="" aria-labelledby="" role="region">
      <h2 id="" class="sr-only"></h2>
      <div role="toolbar">
        <button
          data-game-target="control"
          data-action="game#toggleSound keydown.right->game#next keydown.left->game#prev" 
          tabindex="0"
          role="switch" 
          type="button"
        >
          <span>Count down music</span>
        </button>
        <button
          data-game-target="control"
          data-action="game#toggleTimer keydown.right->game#next keydown.left->game#prev" 
          tabindex="-1"
          type="button"
        >
          Start count down
        </button>
        <div 
          data-game-target="timer" 
          role="timer"
        >
          03:00
        </div>
        <button 
          data-game-target="control" 
          data-action="game#toggleReveal keydown.right->game#next keydown.left->game#prev" 
          tabindex="-1"
          type="button"
        >
          Reveal impostor
        </button>
      </div>
      <div data-game-target="liveregion" role="status" aria-role="polite"></div>
      <audio></audio>
    </section>
  </div>
  <section id="stage" aria-labelledby="" role="region">
    <h2 id="" class="sr-only"></h2>
    <div class="grid">
      {{ content | safe }}
    </div>
  </section>
</main>
